<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Assignment02Solution_nicholdw/src/nicholdw/Assignment02Solution.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="nicholdw.Assignment02Solution"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Assignment02Solution_nicholdw"/>
</launchConfiguration>
